<!doctype html>
<html ng-app="gammesApp">
<head>
<style type="text/css">
</style>
</head>
<body>
<script src="angular.min.js"></script>
<script src="raphael-min.js"></script>

	<div ng-controller="gammesController">            
		<select ng-model="yourNote" ng-change="rendergamme()"
          ng-options="selectNote for selectNote in selectNotes">
  		</select>
		<select ng-model="yourGamme" ng-change="rendergamme()"
          ng-options="selectGamme.nom for selectGamme in selectGammes">
  		</select>
		<p>{{yourGamme.positionNotes}}</p>		
    </div>	
	
	<canvas id="myCanvas" width="800" height="140">
Your browser does not support the HTML5 canvas tag.</canvas>

	<script src="gammes.js"></script>
	<script src="control.js"></script>
</body>
</html>
